@font-face { 
    font-family: Calculator; src: url('Assets/digital-7.ttf'); 
} 

html{
    background-image: url("./Assets/bg.png");
}

body{
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
}
.calculator{
    width: min-content;
    margin: 3em auto;
    padding: 2em;
    background-color: #e53935;
    border: 0.25em solid #424242;
    border-radius: 0.5em;
    
}
.display input {
    text-align: center;
    width: 88%;
    height: 4em;
    margin-bottom: 1em;
    
    border: 0.5em solid #424242;
    background-color: #78909c;
    font: 400 33.3333px Calculator;
    
}

.row{
    white-space: nowrap;
    padding-bottom: 1em;
}

.row button{
    margin: 0.5em 0.1em;
    border-radius: 0;
    border-color: black;
    background-color: #757575;
    color: #b71c1c;
    width: 3em;
    height: 1.5em;
    text-align: center;
    font-size: 2em;
    transition-duration: 0.3s;
}
.row button:hover{
    background-color: #f44336;
    transition-duration: 0.3s;
    color: #444444;
}


button::-moz-focus-inner {
    border: 0;
  }
button:focus { 
    outline: none; 
}
a:focus { 
    outline: none; 
}